.html {
    height: 100%;
    background: url('./images/headphones_hero_1.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    max-width: 1000px;
    margin: 0 auto; /* Center the section horizontally */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 10px 20px;
    width: 100%; 
    background-size: cover;
    height: 100px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar .logo img {
    height: 40px;
}

section {
    padding: 20px;
    min-height: 500px;
}

section h2 {
    margin-top: 0;
}
.Home {
    width: 637px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    margin: 0 auto;
}
.bold-text {
    font-weight: bold;
    font-size: 32px;
}
.bold-text1 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
}
.call {
    background-color: #FF6565;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 30px;
}

.call:hover {
    background-color: #FF0000;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 10px 20px;
    width: 100%; 
    background-size: cover;
    height: 100px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar .logo img {
    height: 40px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    width: 25px;
    background: white;
    margin: 4px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .logo img {
        height: 30px;
        margin-bottom: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .nav-links a {
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
@media (max-width: 768px) {
    .Home {
        width: 60%;
        height: auto;
        margin: 20px auto;
        padding: 20px;
    }

    .bold-text {
        font-size: 24px;
    }

    .bold-text1 {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .call {
        font-size: 16px;
        padding: 10px 20px;
    }
}
/* General Styles for "What We Do" Section */
.what-we-do {
    text-align: center;
    padding: 20px;
    margin: 0 auto; /* Center the text content */
    max-width: 1000px; /* Ensure the section doesn't exceed 1000px */
    color: black;
}

.what-we-do p {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 60%; /* Ensure the text content doesn't exceed the container width */
}

.what-we-do-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto; /* Center the container */
    padding: 20px;
}

.what-we-do-box {
    text-align: center;
    width: 23%; /* Slightly less than 25% to allow spacing */
    margin: 1%; /* Add a small margin for spacing between boxes */
}

.what-we-do-box img {
    width: 100%; /* Ensure the images take the full width of their container */
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s;
}

@media (max-width: 768px) {
    .what-we-do-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .what-we-do-box {
        width: 48%; /* Two boxes per row */
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .what-we-do-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .what-we-do-box {
        width: 90%; /* Full width for each box */
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .what-we-do {
        padding-left: 10px;
        padding-right: 10px;
    }

    .what-we-do p {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* General Styles for "Our Results" Section */
.our-results {
    height: 100%;
    background: url('./images/headphones_hero_2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto; /* Center the section */
    color: white;
}

.our-results h2 {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 60%;
}
.our-results p {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 60%;
}
.our-results0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto; /* Center the container */
    padding: 20px;
}

.our-results1 {
    position: relative;
    text-align: center;
    width: 23%; /* Slightly less than 25% to allow spacing */
    margin: 1%; /* Add a small margin for spacing between boxes */
}

.our-results1 img {
    object-fit: cover; 
    border-radius: 10px;
    transition: transform 0.5s;
    width: 100%; 
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .our-results0 {
        flex-direction: row;
        justify-content: space-around;
    }

    .our-results1 {
        width: 48%; /* Two boxes per row */
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .our-results0 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-results1 {
        width: 90%; /* Full width for each box */
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .our-results {
        padding-left: 10px;
        padding-right: 10px;
    }

    .our-results p {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.contact-us {
    max-width: 400px; /* Set maximum width to 400px */
    margin: 0 auto; /* Center the section horizontally */
    padding: 20px; /* Add some padding for spacing */
    text-align: center; /* Center the content */
}

.contact-us form {
    margin-top: 20px; /* Add some space between the heading and the form */
}

.contact-us label {
    display: block; /* Display labels as block elements for better alignment */
    margin-bottom: 5px; /* Add some space below each label */
}

.contact-us input,
.contact-us textarea {
    width: 100%; /* Set input fields to full width */
    padding: 10px; /* Add padding for better appearance */
    margin-bottom: 15px; /* Add some space between input fields */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.contact-us button {
    background-color: #FF6565;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-us button:hover {
    background-color: #FF0000;
}
